In [1]:
#Import Necessary Liabraries for predection

import pandas as pd                                          #For data manipulation and numerical operations.
import numpy as np                                           #For data manipulation and numerical operations.
import matplotlib.pyplot as plt                              #For data visualization.
import seaborn as sns                                        #For data visualization.
from sklearn.model_selection import train_test_split         #To split the dataset into training and testing sets.
from sklearn.linear_model import LogisticRegression          #To create and train a logistic regression model.
from sklearn.metrics import accuracy_score                   #To evaluate the accuracy of the model.
import warnings
warnings.filterwarnings('ignore')                            #Suppresses warnings that might clutter the output.

In [2]:
# Import data
file_path = r"C:\Users\user\Downloads\archive (1)\IMDb Movies India.csv"
data = pd.read_csv(file_path, encoding='ISO-8859-1')

In [3]:
data

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [4]:
# Explore the Dataset

In [5]:
# Check the first few rows to see if it worked

data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [6]:
data.info()    ## Display summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [7]:
data.describe()   ## Display statistical summary of numerical columns

            Rating
count  7919.000000
mean      5.841621
std       1.381777
min       1.100000
25%       4.900000
50%       6.000000
75%       6.800000
max      10.000000

In [8]:
data.isnull().sum()   # Display the number of missing values for each column

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [9]:
data.shape   # Display the shape of the DataFrame

(15509, 10)

In [10]:
#Data Cleaning

In [11]:
data = data.drop_duplicates()  # Drop duplicates

In [12]:
data

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [13]:
data.shape

(15503, 10)

In [14]:
# Fill or drop missing values

In [15]:
# Fill missing values in 'Actor1','Actor2','Actor3' column with the mode (most frequent value)
data["Actor 1"].fillna(data["Actor 1"].mode().iloc[0], inplace=True)
data["Actor 2"].fillna(data["Actor 2"].mode().iloc[0], inplace=True)
data["Actor 3"].fillna(data["Actor 3"].mode().iloc[0], inplace=True)
data["Genre"].fillna(data["Genre"].mode().iloc[0], inplace=True)
data["Director"].fillna(data["Director"].mode().iloc[0], inplace=True)

In [16]:
data["Rating"].fillna(data["Rating"].mean(),inplace=True)   # Fill missing values in 'Rating' column with the mean

In [17]:
data.isnull().sum()   # Display the number of missing values for each column

Name           0
Year         527
Duration    8264
Genre          0
Rating         0
Votes       7583
Director       0
Actor 1        0
Actor 2        0
Actor 3        0
dtype: int64

In [18]:
#drop unnecessary columns
data = data.drop(columns=['Name','Year', 'Duration','Votes'], axis=1)
data.head()

,Genre,Rating,Director,Actor 1,Actor 2,Actor 3
0,Drama,5.841621,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,Drama,7.000000,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,"Drama, Musical",5.841621,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,"Comedy, Romance",4.400000,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,Drama,5.841621,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [19]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoders
le_genre = LabelEncoder()
le_director = LabelEncoder()
le_actor1 = LabelEncoder()
le_actor2 = LabelEncoder()
le_actor3 = LabelEncoder()

# Encode categorical features
data['Genre'] = le_genre.fit_transform(data['Genre'])
data['Director'] = le_director.fit_transform(data['Director'])
data['Actor 1'] = le_actor1.fit_transform(data['Actor 1'])
data['Actor 2'] = le_actor2.fit_transform(data['Actor 2'])
data['Actor 3'] = le_actor3.fit_transform(data['Actor 3'])

# Verify the changes
data.head()

   Genre    Rating  Director  Actor 1  Actor 2  Actor 3
0    299  5.841621      1926     2250      800     3108
1    299  7.000000      1548     3280     4790      527
2    351  5.841621      5123     3713     2866     3450
3    228  4.400000      3319     2917     1504     4020
4    299  5.841621       385     3112     3462      405

In [20]:
# Feature Engineering: Count of occurrences
data['Genre_Count'] = data['Genre'].map(data['Genre'].value_counts())
data['Director_Count'] = data['Director'].map(data['Director'].value_counts())

# Print the DataFrame to verify
data

,Genre,Rating,Director,Actor 1,Actor 2,Actor 3,Genre_Count,Director_Count
0,299,5.841621,1926,2250,800,3108,4655,2
1,299,7.000000,1548,3280,4790,527,4655,1
2,351,5.841621,5123,3713,2866,3450,39,1
3,228,4.400000,3319,2917,1504,4020,140,1
4,299,5.841621,385,3112,3462,405,4655,7
...,...,...,...,...,...,...,...,...
15504,0,4.600000,2690,2586,4299,4262,1288,4
15505,40,4.500000,2499,227,4532,519,316,8
15506,0,5.841621,2424,3609,3402,2847,1288,1
15507,0,5.841621,2034,636,3402,2847,1288,582
15508,40,6.200000,2195,1139,1589,490,316,18

In [21]:
from sklearn.model_selection import train_test_split

# Define features and target
X = data[['Genre', 'Director', 'Actor 1','Actor 2','Actor 3']]  # Add other relevant features
y = data['Rating']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
from sklearn.model_selection import train_test_split

# Define features and target
X = data[['Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3', 'Genre_Count', 'Director_Count']]  # Include additional features if available
y = data['Rating']

# Check data types
print(X.dtypes)
print(y.dtypes)

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print shapes of resulting sets
print(f"Training set shape: X_train={X_train.shape}, y_train={y_train.shape}")
print(f"Testing set shape: X_test={X_test.shape}, y_test={y_test.shape}")

Genre             int32
Director          int32
Actor 1           int32
Actor 2           int32
Actor 3           int32
Genre_Count       int64
Director_Count    int64
dtype: object
float64
Training set shape: X_train=(12402, 7), y_train=(12402,)
Testing set shape: X_test=(3101, 7), y_test=(3101,)

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Select only numerical columns for X_train and X_test
X_train_numeric = X_train.select_dtypes(include=['number'])
X_test_numeric = X_test.select_dtypes(include=['number'])

# Initialize and train the model
model = LinearRegression()
model.fit(X_train_numeric, y_train)

# Make predictions
y_pred = model.predict(X_test_numeric)

# Evaluate the model
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))
print('R^2 Score:', r2_score(y_test, y_pred))

Mean Squared Error: 0.9605116497669567
R^2 Score: 0.014769102425384761

In [24]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV

# Select only numerical columns from X_train
X_train_numerical = X_train.select_dtypes(include=[np.number])
X_test_numerical = X_test.select_dtypes(include=[np.number])

# Define the parameter grid for Linear Regression
param_grid = {
    'fit_intercept': [True, False],
    'copy_X': [True, False],
    'n_jobs': [-1, None],  # Number of jobs to run in parallel (-1 means using all processors)
    'positive': [True, False]  # Force coefficients to be positive
}

# Initialize the Linear Regression model
lr_model = LinearRegression()

# Set up the grid search
grid_search = GridSearchCV(estimator=lr_model, param_grid=param_grid, cv=3, n_jobs=-1, verbose=2)

# Fit the grid search to the numerical data
grid_search.fit(X_train_numerical, y_train)

# Print the best parameters found by the grid search
print('Best Parameters:', grid_search.best_params_)

# Optionally, evaluate the model on the test set
y_pred = grid_search.predict(X_test_numerical)

Fitting 3 folds for each of 16 candidates, totalling 48 fits
Best Parameters: {'copy_X': True, 'fit_intercept': True, 'n_jobs': -1, 'positive': False}

In [25]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV

# Assuming you've previously fitted LabelEncoders for categorical features
# Initialize new data (replace with actual values you want to predict)
new_data = data[['Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3', 'Genre_Count', 'Director_Count']]

# Encode categorical features using previously fitted LabelEncoders
new_data['Genre'] = le_genre.fit_transform(new_data['Genre'])
new_data['Director'] = le_director.fit_transform(new_data['Director'])
new_data['Actor 1'] = le_actor1.fit_transform(new_data['Actor 1'])
new_data['Actor 2'] = le_actor2.fit_transform(new_data['Actor 2'])
new_data['Actor 3'] = le_actor3.fit_transform(new_data['Actor 3'])

# Feature engineering: Add count features if they were used in training
new_data['Genre_Count'] = new_data['Genre'].map(data['Genre'].value_counts())
new_data['Director_Count'] = new_data['Director'].map(data['Director'].value_counts())

# Ensure new_data has the same columns as X_train
X_new = new_data[['Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3', 'Genre_Count', 'Director_Count']]

# Make predictions using the best model found by GridSearchCV
rating_prediction = grid_search.best_estimator_.predict(X_new)

# Print the predicted rating
print("Predicted Rating:", rating_prediction[0])

Predicted Rating: 5.922612941874985